<a href="https://colab.research.google.com/github/savirhkhan/Global-Terrorism-EDA/blob/main/Global_Terrorism_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.</b>

# <b> Explore and analyze the data to discover key findings pertaining to terrorist activities. </b>

In [32]:
#importing libraries to be used
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
#connecting google drive with the colab inviroment where--dataset is saved
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [34]:
#loading the data set from given path
df = pd.read_csv('/content/drive/MyDrive/Data sets/Global Terrorism Data.csv',encoding="ISO-8859-1")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [35]:
# checking first 5 rows to get the general overview of data frame
df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [37]:
#checking how many total coloums and rows present in Data Frame it will show like(tota_rows,total_columns)
df.shape

(181691, 135)

In [38]:
#get the details of attiributes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [39]:
# Checking how many variables has more than 70% NaN values and store the name of columns in the list columns_with_high_NaN
columns_with_high_NaN = [i for i in df.columns if df[i].isna().sum()*100/len(df)>70]

In [40]:
# Prints name of all the columns with more than 70% of NaN values
columns_with_high_NaN

['approxdate',
 'resolution',
 'alternative',
 'alternative_txt',
 'attacktype2',
 'attacktype2_txt',
 'attacktype3',
 'attacktype3_txt',
 'targtype2',
 'targtype2_txt',
 'targsubtype2',
 'targsubtype2_txt',
 'corp2',
 'target2',
 'natlty2',
 'natlty2_txt',
 'targtype3',
 'targtype3_txt',
 'targsubtype3',
 'targsubtype3_txt',
 'corp3',
 'target3',
 'natlty3',
 'natlty3_txt',
 'gsubname',
 'gname2',
 'gsubname2',
 'gname3',
 'gsubname3',
 'motive',
 'guncertain2',
 'guncertain3',
 'claimmode',
 'claimmode_txt',
 'claim2',
 'claimmode2',
 'claimmode2_txt',
 'claim3',
 'claimmode3',
 'claimmode3_txt',
 'compclaim',
 'weaptype2',
 'weaptype2_txt',
 'weapsubtype2',
 'weapsubtype2_txt',
 'weaptype3',
 'weaptype3_txt',
 'weapsubtype3',
 'weapsubtype3_txt',
 'weaptype4',
 'weaptype4_txt',
 'weapsubtype4',
 'weapsubtype4_txt',
 'propvalue',
 'nhostkid',
 'nhostkidus',
 'nhours',
 'ndays',
 'divert',
 'kidhijcountry',
 'ransomamt',
 'ransomamtus',
 'ransompaid',
 'ransompaidus',
 'ransomnote',
 'hostkidoutcome',
 'hostkidoutcome_txt',
 'nreleased',
 'addnotes',
 'scite3',
 'related']

In [41]:
# removing the columns with more than 70% NaN values from data frame
df.drop(columns_with_high_NaN,inplace=True,axis=1)

In [43]:
# checking attributes of Data Frame after removing variales with high NaN
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 64 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   eventid           181691 non-null  int64
 1   iyear             181691 non-null  int64
 2   imonth            181691 non-null  int64
 3   iday              181691 non-null  int64
 4   extended          181691 non-null  int64
 5   country           181691 non-null  int64
 6   country_txt       181691 non-null  object
 7   region            181691 non-null  int64
 8   region_txt        181691 non-null  object
 9   provstate         181270 non-null  object
 10  city              181257 non-null  object
 11  latitude          177135 non-null  float64
 12  longitude         177134 non-null  float64
 13  specificity       181685 non-null  float64
 14  vicinity          181691 non-null  int64
 15  location          55495 non-null   object
 16  summary           115562 non-null  object
 17  crit1             181691 non-null  int64
 18  crit2             181691 non-null  int64
 19  crit3             181691 non-null  int64
 20  doubtterr         181690 non-null  float64
 21  multiple          181690 non-null  float64
 22  success           181691 non-null  int64
 23  suicide           181691 non-null  int64
 24  attacktype1       181691 non-null  int64
 25  attacktype1_txt   181691 non-null  object
 26  targtype1         181691 non-null  int64
 27  targtype1_txt     181691 non-null  object
 28  targsubtype1      171318 non-null  float64
 29  targsubtype1_txt  171318 non-null  object
 30  corp1             139141 non-null  object
 31  target1           181055 non-null  object
 32  natlty1           180132 non-null  float64
 33  natlty1_txt       180132 non-null  object
 34  gname             181691 non-null  object
 35  guncertain1       181311 non-null  float64
 36  individual        181691 non-null  int64
 37  nperps            110576 non-null  float64
 38  nperpcap          112202 non-null  float64
 39  claimed           115571 non-null  float64
 40  weaptype1         181691 non-null  int64
 41  weaptype1_txt     181691 non-null  object
 42  weapsubtype1      160923 non-null  float64
 43  weapsubtype1_txt  160923 non-null  object
 44  weapdetail        114021 non-null  object
 45  nkill             171378 non-null  float64
 46  nkillus           117245 non-null  float64
 47  nkillter          114733 non-null  float64
 48  nwound            165380 non-null  float64
 49  nwoundus          116989 non-null  float64
 50  nwoundte          112548 non-null  float64
 51  property          181691 non-null  int64
 52  propextent        64065 non-null   float64
 53  propextent_txt    64065 non-null   object
 54  propcomment       57959 non-null   object
 55  ishostkid         181513 non-null  float64
 56  ransom            77381 non-null   float64
 57  scite1            115500 non-null  object
 58  scite2            76933 non-null   object
 59  dbsource          181691 non-null  object
 60  INT_LOG           181691 non-null  int64
 61  INT_IDEO          181691 non-null  int64
 62  INT_MISC          181691 non-null  int64
 63  INT_ANY           181691 non-null  int64
dtypes: float64(21), int64(22), object(21)
memory usage: 88.7+ MB

array([0, 1])